img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}